<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Service status</string>
			<key>Key</key>
			<string>service_status_preference</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>IsSecure</key>
			<false/>
			<key>Key</key>
			<string>device_id_preference</string>
			<key>KeyboardType</key>
			<string>Alphabet</string>
			<key>Title</key>
			<string>Device identifier</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>demo.traccar.org</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Server address</string>
			<key>Key</key>
			<string>server_address_preference</string>
		</dict>
		<dict>
			<key>KeyboardType</key>
			<string>NumberPad</string>
			<key>DefaultValue</key>
			<string>5055</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Server port</string>
			<key>Key</key>
			<string>server_port_preference</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Encryption</string>
			<key>Key</key>
			<string>secure_preference</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>KeyboardType</key>
			<string>NumberPad</string>
			<key>DefaultValue</key>
			<string>60</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Frequency</string>
			<key>Key</key>
			<string>frequency_preference</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
